body{
    background-color: rgb(252, 242, 242);
}
.fir{
    background-image: url(./fondo\ blender.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(12, 8, 1);
    border: 5px solid gray ;
    border-radius: 5%;
}
.fir section{
    background: none;
}